.container{
    max-width: 80%;
    margin: 0 auto;
    padding: 20px;
    display:flex;
    flex-direction: column
}

.container ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex-wrap;
    flex-direction: row;
}

@media (max-width: 768px) {
    .container{
        max-width:95%;
    }
}