.notebook{
    max-width: 80%;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.notebook button{
    width: 90px;
    height: 30px;
    margin-bottom:10px;
    
}

.notebook h2{    
   padding: 0;
   margin:15px;
   color:var(--color-primary-text);
}

.notebook header {    
    border: 1px solid var(--color-accent);
    border-radius: var(--border-radius-2);
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;  
    background:hsla(133.33,13.43%,73.73%,.4);
    display: flex;
    flex-direction: row;
          
}

.notebook div{
    display: flex;
    flex-direction: row;    
    margin: 0 auto;
    align-items: center;
    position: relative;
}


.notes{
    padding:0;
    display: flex;
    flex-direction: column-reverse; 
    /* margin: 5px, 0; */
}