.notebook{
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.notebook h2{    
   padding: 5px
}

.notebook header {
    background-color: var(--color-grey-500);
    display: flex;
    flex-direction: row;       
}

.notebook div{
    display: flex;
    flex-direction: row;    
    margin: 0 auto;
    align-items: center;
    position: relative;
}


.notes{
    padding:0;
    display: flex;
    flex-direction: column-reverse; 
    /* margin: 5px, 0; */
}