.bookItem{
    border-radius: 5px;
    border: 1px solid #ccc;
    margin: 5px;
    padding: 0 10px;
    cursor: pointer;
    min-width: 200px;
}

.bookItem p {
    text-align: end;
}

.bookItem div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}