.create{
    width: 100%;
    margin: 0 auto;
    text-align: start;
    display: flex;
    justify-content: center;
    flex-direction: column;
}


.create form{
    padding: 1rem 0.5rem;
    border: 1px solid var(--color-grey-300);
    border-radius: var(--border-radius-2);
    border-right:none;
    border-left:none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top: none;
}

.control textarea{
    margin: 10px 0;
    width: 100%;
    max-width:900px
}

.collapsed{
    display:flex;
    width:100%;
    flex-direction: column;   
    border: 1px none var(--color-accent);
    border-radius: var(--border-radius-2);
    border-top:none;
    border-top-left-radius: 0 ;
    border-top-right-radius: 0 ;
    margin: 30px 0 25px;

}

.collapsed .create{
    width:40%;    
    margin: 0 auto ;
    background:transparent;
    border:1px solid var(--color-accent);
    border-radius: var(--border-radius-2);
    color: var(--color-primary-text);
    font-family: var(--font-poppins);
    display:flex;
    flex-direction: column;
}

.create span{
    line-height: 1.25em;
    padding:5px;
}

.collapsed .chevron{
    padding:0 20px;
    border: 1px none var(--color-accent);
    
    border-bottom-left-radius: var(--border-radius-2);  
    border-bottom-right-radius: var(--border-radius-2);
    background-color: var(--color-create-bg);
    color:var(--color-button-text);
}


button.close{
    justify-self: center;
    margin: 0 auto;
    height: 20px;
    border-top: 0;
    border-radius: var(--border-radius-2);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: var(--color-create-bg);
}

@media (max-width: 768px) {
    .collapsed{
        width:150%;
    }
}
