.note{
    max-height: 145px;
    border: 1px solid var(--color-accent);
    border-radius: var(--border-radius-2);    
    padding: 0 10px ;     
    list-style: none;   
  overflow: hidden;
  margin: 5px 0;
  
}

.note p{
  color: var(--color-primary-text);
}

.head{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.head h3{
  color: var(--color-primary-text)
}

.head button{  
  font-size: small;
  height:20px;
  width:55px;
  margin-right: 5px;
}


.isActive{    
    overflow-wrap: break-word;
    max-height: max-content;    
 
}