.note{
    max-height: 145px;
    border: 1px solid var(--color-grey-300);
    border-radius: 5px;    
    padding: 0 10px ;     
    list-style: none;   
  overflow: hidden;
  margin: 5px 0;
  transition: all 0.3s ease-in-out;
}

.head{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.head p{
  width:min-content;
  cursor: pointer;
}

.isActive{    
    overflow-wrap: break-word;
    max-height: max-content;    
 
}