
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&family=Montserrat:wght@100;200;300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100&display=swap');


body {
  --color-grey-50: hsl(240, 8%, 95%);
  --color-grey-100:hsl(240, 9%, 85%);
  --color-grey-200: hsl(240, 9%, 75%);
  --color-grey-300: hsl(240, 9%, 65%);
  --color-grey-400: hsl(240, 9%, 55%);
  --color-grey-500:hsl(240, 9%, 45%);
  --color-grey-600: hsl(240, 9%, 35%);
  --color-grey-700: hsl(240, 9%, 25%);
  --color-grey-800: hsl(240, 9%, 15%);
  --color-grey-900: hsl(240, 8%, 5%);

  --color-header-bg:hsla(133.33,13.43%,73.73%,1);
  --color-primary-text:hsla(140,1.27%,30%,1);
  --color-dark-text:hsla(137.14,14.89%,18.43%,1);
  --color-light-text:hsla(57,100%,96.08%,1);
  --color-input-bg:hsla(57,100%,96.08%,.6);
  --color-input-bg-focus:hsla(60,100%,98.82%,1);
  --color-card-bg:hsla(132.86,12.73%,78.43%,.6);
  --color-create-bg:hsla(133.33,13.43%,73.73%,.8);
  --color-accent:hsl(175.38,5.14%,50.39%);
  --color-button-text:hsla(57,100%,96.08%,1);
  
  





  --size-1: 0.25rem;
  --size-2: 0.5rem;
  --size-3: 0.75rem;
  --size-4: 1rem;
  --size-5: 1.25rem;
  --size-6: 1.5rem;
  --size-8: 2rem;
  --size-16: 4rem;
  --size-20: 5rem;
  --size-40: 10rem;

  --border-radius-1: 0.3rem;
  --border-radius-2: 0.6rem;

  --font-lato: 'Lato', sans-serif;
  --font-montserrat: 'Montserrat', sans-serif;
  --font-poppins: 'Poppins', sans-serif;

  padding: 0;
  margin: 0;
  font-family: 'Lato', serif;
    max-width: 1280px;
    margin: 0 auto;

  background: hsla(134, 49%, 88%, 1);
  background: radial-gradient(circle, hsla(134, 49%, 88%, 1) 0%, hsla(58, 100%, 94%, 1) 100%);
  background: -moz-radial-gradient(circle, hsla(134, 49%, 88%, 1) 0%, hsla(58, 100%, 94%, 1) 100%);
  background: -webkit-radial-gradient(circle, hsla(134, 49%, 88%, 1) 0%, hsla(58, 100%, 94%, 1) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#D3F0DA", endColorstr="#FFFEDE", GradientType=1 );
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1 {
  font-size: 2rem;
  text-align: center;
}

button {
  font: inherit;
  cursor: pointer;
  background:var(--color-accent);
  color:var(--color-button-text);
  border:none;
  border-radius: var(--border-radius-1);
  -webkit-appearance: none;
}

input, textarea{
  padding: 0.25rem;
  border: 1px solid var(--color-accent);
  border-radius: var(--border-radius-1);
  background: var(--color-input-bg);
}

input:focus-visible, textarea:focus-visible{
  outline:none;
  background: var(--color-input-bg-focus);
}

